
<div class="container mt-3">
    <h2>{{article.title}}</h2>
    <p>{{article.author}}</p>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{article.thumbnail.url}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{article.status}}</h4>
        <p class="card-text">
            {{article.content}}
        </p>
        <a href="{% url 'blog:article_details' article.id %}" class="btn btn-primary">See article</a>
      </div>
    </div>
    <br>    
</div>