{% load static%}
{% load ratings %}
{% load comment_tags %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  </head>
  <body>



    <div class="container mt-5">
      <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-post">
                        <div class="post-header mb-5 text-center">
                            <div class="meta-cat">
                                <a href="{% url 'blog:blog'%}" class="btn btn-outline-primary"> back</a>
                            </div>
                            <h2 class="post-title mt-2">
                                {{article.title}}
                            </h2>
                            <div>
                              {% ratings article %}
                            </div>

                            <div class="post-meta">
                                <span class="text-uppercase font-sm letter-spacing-1 mr-3">by {{article.author}}</span>
                                <span class="text-uppercase font-sm letter-spacing-1">{{article.created}}</span>
                            </div>
                            <div class="post-featured-image mt-5">
                                <img src="{{article.thumbnail.url}}" class="img-fluid w-100" alt="featured-image">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="entry-content">
                                <p>
                                  {{article.content|safe}}
                                </p>
                                
                            </div>
                        </div>

                        <div class="container">
                            <div class="comment">
                                {% render_comments article request %}
                            </div>

                        </div>
                    </div>

                   
                    



                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="sidebar-wrap mt-5 mt-lg-0">
                            <div class="sidebar-widget about mb-5 text-center p-3">
                                <div class="about-author">
                                    <img src="images/author.jpg" alt="" class="img-fluid">
                                </div>
                                <h4 class="mb-0 mt-4">{{article.author.first_name}} {{article.author.last_name}}</h4>
                                <p>{{article.author.email}}</p>
                                
                                <img src="images/liammason.png" alt="" class="img-fluid">
                            </div>

                         

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>