<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  </head>
  <body>



    <div class="container mt-5">
      <a href="{% url 'blog:add_article' %}" class="btn btn-outline-warning mb-5">add article
        <i class="fa fa-plus"></i>
      </a>
        <div class="card" id="para" data-amin="hashemi">
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">author</th>
                        <th scope="col">thumbnail</th>
                        <th scope="col">status</th>
                        <th scope="col">condition</th>
                        <th scope="col">publish_date</th>
                        <th scope="col">details</th>
                        <th scope="col">more</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{article.title}}</td>
                        <td>{{article.author.first_name}}-{{article.author.last_name}}</td>
                        {% if article.thumbnail %}
                        <td>{{article.get_pic}}</td>
                        {% else %}
                        <td>no pic</td>
                        {% endif %}
                        <td>{{article.mstatus}}</td>
                        <td>{{article.get_condition_display}}</td>
                        <td>{{article.publish_date}}</td>
                        <td><a href="{% url 'blog:article_details' article.id %}" class="btn btn-outline-primary"><i class='fas fa-eye'></i></a></td>
                        <td><a href="#" class="btn btn-outline-warning more" data-id="{{article.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class='fas fa-check'></i></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

            </div>
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row text-center" id="modal-body">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      $(".more").click(function(){
        var articleId = $(this).data('id')
        var url = "{% url 'blog:ajax_more' %}"
        $.ajax({
        type: "GET",
        url: url,
        data: {
          'articleId':articleId,
          },
        success: function(data) {
          $("#modal-body").html(data)
        },
        });
        // $(".modal-body").html(articleId)
        
      });
    </script>

  </body>
</html>